# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
_site
/vendor
Gemfile.lock
_data/project_runtime.yml

_drafts

# rubygem
*.gem

# npm dependencies
node_modules
test-results
playwright-report
__pycache__/
*.py[cod]
